test/wsdl2py/wsdl/NoMessagePart.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://helloserv.utbm.fr" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://helloserv.utbm.fr">
    <wsdl:documentation>HelloServer</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://helloserv.utbm.fr" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://helloserv.utbm.fr">
            <xs:element name="HelloResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="HelloYou">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="HelloYouResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="HelloRequest"/>
    <wsdl:message name="HelloResponse">
        <wsdl:part name="parameters" element="ns0:HelloResponse"/>
    </wsdl:message>
    <wsdl:message name="HelloYouRequest">
        <wsdl:part name="parameters" element="ns0:HelloYou"/>
    </wsdl:message>
    <wsdl:message name="HelloYouResponse">
        <wsdl:part name="parameters" element="ns0:HelloYouResponse"/>
    </wsdl:message>
    <wsdl:portType name="HelloServerPortType">
        <wsdl:operation name="Hello">
            <wsdl:input message="ns0:HelloRequest" wsaw:Action="urn:Hello"/>
            <wsdl:output message="ns0:HelloResponse" wsaw:Action="urn:HelloResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HelloYou">
            <wsdl:input message="ns0:HelloYouRequest" wsaw:Action="urn:HelloYou"/>
            <wsdl:output message="ns0:HelloYouResponse" wsaw:Action="urn:HelloYouResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloServerSOAP11Binding" type="ns0:HelloServerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="Hello">
            <soap:operation soapAction="urn:Hello" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HelloYou">
            <soap:operation soapAction="urn:HelloYou" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HelloServerSOAP12Binding" type="ns0:HelloServerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="Hello">
            <soap12:operation soapAction="urn:Hello" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HelloYou">
            <soap12:operation soapAction="urn:HelloYou" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HelloServerHttpBinding" type="ns0:HelloServerPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="Hello">
            <http:operation location="HelloServer/Hello"/>
            <wsdl:input>
                <mime:content type="text/xml" part="Hello"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="Hello"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HelloYou">
            <http:operation location="HelloServer/HelloYou"/>
            <wsdl:input>
                <mime:content type="text/xml" part="HelloYou"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="HelloYou"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NoMessagePartServer">
        <wsdl:port name="HelloServerSOAP11port_http" binding="ns0:HelloServerSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/HelloServer"/>
        </wsdl:port>
        <wsdl:port name="HelloServerSOAP12port_http" binding="ns0:HelloServerSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/HelloServer"/>
        </wsdl:port>
        <wsdl:port name="HelloServerHttpport" binding="ns0:HelloServerHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/HelloServer"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
