test/wsdl2py/wsdl/test_Attachment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nbcr.sdsc.edu/opal" 
    xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://nbcr.sdsc.edu/opal" 
    xmlns:intf="http://nbcr.sdsc.edu/opal" xmlns:tns1="http://nbcr.sdsc.edu/opal/types" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <wsdl:types>
  <schema targetNamespace="http://nbcr.sdsc.edu/opal/types" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>


   <complexType name="InputFileType">
    <sequence>
     <element name="name" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="attachment" type="apachesoap:DataHandler"/>
    </sequence>
   </complexType>


   <element name="uploadFileInput" type="tns1:InputFileType"/>
   <element name="uploadFileOutput" type="xsd:string"/>

   </schema>
  </wsdl:types>
   <wsdl:message name="uploadFileRequest">
      <wsdl:part element="tns1:uploadFileInput" name="uploadFileInput"/>
   </wsdl:message>

   <wsdl:message name="uploadFileResponse">
      <wsdl:part element="tns1:uploadFileOutput" name="uploadFileOutput"/>
   </wsdl:message>

   <wsdl:portType name="TestServicePortType">
      <wsdl:operation name="uploadFile" parameterOrder="uploadFileInput">
         <wsdl:input message="impl:uploadFileRequest" name="uploadFileRequest"/>
         <wsdl:output message="impl:uploadFileResponse" name="uploadFileResponse"/>
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="TestServicePortSoapBinding" type="impl:TestServicePortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="uploadFile">
         <wsdlsoap:operation soapAction="http://nbcr.sdsc.edu/opal/uploadFile"/>
         <wsdl:input name="uploadFileRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="uploadFileResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="TestService">
      <wsdl:port binding="impl:TestServicePortSoapBinding" name="TestServicePort">
         <wsdlsoap:address location="http://localhost:8080/opal2/services/CAT"/>
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>
